/* rgb 169, 206, 251 */

#djok {
    border-radius: 50%;
    width: 220px;
    border: 4px ridge white;
}

#introPage {
    background-color: rgb(139, 196, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

